html {
    position: relative;
    min-height: 100%;
}
body {
	color: white;
	font-size: 20px;
	font-family: Arial;

	background: url('../images/bg-main.jpeg');
	background-size: 100% 100%;
	background-position: center;	
}
#wrapper-in {
	/*background-color: rgba(150,150,150, 0.5);*/
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 5px;
	/*margin-bottom: 100px;*/
	/*height: 95vh;for scrolling ?*/
}
h1 {
	background-color: rgba(150,150,150, 0.7);
	border-radius: 12px;
	color:  white;
	font-family: 'Arsenal', sans-serif;
	text-align: center;	
}
h1.top {
	/*transform: rotate(360deg);*/

	font-size: 30px;

	width : 38%;
	float: left;
	display: inline-block;
	line-height: 1.2;

	transition-property: font-size padding-top padding-bottom margin-top letter-spacing;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
h1.frontpage{
	font-size: 50px;

	padding-top: 100px;
	padding-bottom: 300px;
	margin-top: 50px;
	letter-spacing: 2px;
}
.form-group.top {
	width: 60%;
	display: inline-block;
	margin-left: 2%;
}

.form-group.frontpage {	
	width: 60%;
	margin-top: -250px;
	margin-left: 20%;
}
header::after {
	clear: both;
}
.btn-logo {
	height: 100%;
	margin-right: 5px;
	cursor: pointer;
}
.btn-search {
	height: 38px;
	width: 45px;
	border-radius: 12px;
	border: 1px solid #dbdbdb;
	border-left: 0px;
	background-color: rgba(255,255,255,1);
	padding: 0px;
}

.form-control {
	border-radius: 12px;
}

.btn-search:focus {
	-webkit-box-shadow: none;
	border-right: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

.form-control:focus {
	-webkit-box-shadow: none;
	border-right: 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 1;
}


/* ============== Trails ====================== */
.trail {
	display: inline-block;
	margin: 2px;
	color: #389be9;
	width: 100%;
	margin-bottom: 20px;
}

.trail .card-header{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	line-height: 1;
}
.trail_descr {
	font-size: 16px;
	color : #5a5a5a;
	display: block;
}
.trail_rating {
	color: #ea7750;
}
.trail_rating span {
	/*display: inline-block;*/
	margin-right: 10px;
	/*float: left;*/
}
.img-trail {
	width: 100%;/*300px;*/
	/*float: left;*/
}
.trail_marker{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
/* ============ End Trails * ================== */

#googleMap {
	width: 100%;
	height: 100%
}
/* ============== Tabs =========================*/

.tabs {
	position: relative;
	padding: .2em;
	/*height: 50%;*/
}
.tabs .tabs-nav {
	margin: 0;
	padding: .1em .1em 0;
}

.tabs .tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	padding: 0;
	white-space: nowrap;
}

.tabs .tabs-nav .tabs-anchor {
	/*float: left;*/
	/*padding: .5em 1em;*/
	padding: .3em 0.8em;
	text-decoration: none;

	background-color: #b1ddff;
	border-radius: 12px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	color : #5a5a5a;
	cursor: pointer;
}
.tabs .tabs-nav li.current {
	background: #93cffd;
	cursor: default;
}
.tabs .tabs-content {
	clear: both;
	/*display: inline-block;*/
	margin-left: 3px;
	min-width: 100%;
	/*height: 70vh;*/
}
.tabs .tabs-content .tab{
	position: relative;
	display: inline-block;
	padding: 1em 1.4em;
	border: 2px solid rgba(255,255,255, 0.4);
	border-top: 10px solid #93cffd;
	border-top-right-radius: 12px;
	/*background-color: rgba(150,150,150, 0.3);*/
	background-color: rgba(150,150,150, 0.6);
	/*max-height: 85vh;*/
	min-width: 100%;
}

.scrollable {
	height: 65vh;
	/*max-height: 65vh;*/
	overflow-y: scroll;
}
.right {
	padding-right: 0px;
	padding-left: 5px;
}
.left {
	border: 2px solid rgba(255,255,255, 0.2);
	padding: 5px;
	border-radius: 5px;
	height: 65vh;
}
/* ============== End Tabs =========================*/
/* --------------Star Rating ------------------------*/
span.stars, span.stars span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

/* ------------end star --------------------------*/

.weather td {
	border: 3px solid rgba(255,255,255, 0.2);
	background: #95D0FB;
	padding: 0px 6px 0px 6px;
	
} 
/*table p {
	padding: 4px;
}
*/
p.time {
	font-size: 15px;
	padding: 5px 0px 0px 0px;
}
p.temp {
	font-size: 15px;
	font-weight: bold;
	display: block;
}
p.hum {
	font-size: 15px;
}
p.weatherType {
	font-size: 15px;
	font-style: oblique;
}
td.date {
	font-size: 17px;
	width: 12%;
	text-align: center;
}
td.time {
	font-size: 17px;
	width: 12%;
	text-align: center;
}
